"""
NUM_PING = 2 #  harus genap perkalian 2, berapa paket ping yang dikirim, meningkatkan ke akuratan, memperlambat
NUM_WORKER = 32 # berapa thread yang akan dijalankan
"""

NUM_PING = 2  # GENAP
NUM_WORKER = 16
MINUTE = 5

BASE_URL = "http://localhost:5001"
KEY = "Test"
BRANCH = "BANJARMASIN"
